<!--div class="link-wrapper">
    <div class="link-heading">
        {{#unless threadClosed }}
            <a href="/reply">Reply</a>
        {{/unless}}
        {{#if threadClosed }}
        {{/if}}
        <a href="{{ url }}">{{ post }}</a>
    </div>
</div-->