

        <div class="row">

            <div class="col-2 col-lg-1">
               <img src="assets/icons/good.png" alt="discUp" id="discup">
               <br>
               <img src="assets/icons/bad.png" alt="discDown" id="discdown">
            </div>

            <div class="col-10">
                <h2>{{ title }}</h2>
               {{#if url}}<h4><a href=""></a></h4>{{/if}}
                <p>{{ comment}}</p>
            </div>

        </div>


{{#if children}}
    {{#each children}}

        {{> child}}
    {{/each}}
{{/if}}