{{!-- <main role="main">



    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators"></ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide" src="" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <img src="../../assets/icons/logo.jpg" alt="CiviDisc Logo" width="140" height="140">
                        <h1>Welcome to CiviDisc!</h1>
                        <p>An online forum that encourages engaging discussion on a variety of topics in a self moderating environment. <!--Simply put, there is 90 minutes to discuss a topic and upvoting comments will allow for more time to be added to the current discussion. 
                            Once discussions have concluded, user are encouraged to review topics by commenting, posting, and starting new discussions.-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}


<div class="container-fluid bg-light" id="lead-about">

        <div class="col text-center" id="lead-text">

            {{!-- <img src="../../assets/icons/logo.jpg" alt="CiviDisc Logo" width="140" height="140"> --}}
                {{!-- <h1 class="display-1">Welcome to CiviDisc</h1>
                <br> --}}
                <h2 class="font-weight-light">Self moderating discussions on a variety of topics<!--Simply put, there is 90 minutes to discuss a topic and upvoting comments will allow for more time to be added to the current discussion. 
                    Once discussions have concluded, user are encouraged to review topics by commenting, posting, and starting new discussions.-->
                </h2>
                <br>
                <button class="btn btn-outline-success"><a class="lead text-success" href="/login">Login</a></button>
                <button class="btn btn-outline-success"><a class="lead text-success" href="/signup">Sign Up</a></button>
                

        </div>

</div>

<div class="container-fluid bg-success" id="lead-info">

    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4 py-5 text-center my-5">
        <i class="text-light fa fa-user-circle fa-5x" aria-hidden="true"></i>
        <hr>
        <p class="text-light lead">
            Our self moderating system will recognize valuable users to the community by extending their discussions and awarding them reputation (Rep) and Discs. Users who 
            add no value to the discussion will be penalized by the community, and can lose posting priviliges completely by losing Rep. Users who amass a lot of Rep
            can create new topics, upoload custom avatars, and access new features before anyone else.
        </p>
        </div>
        <div class="col-xl-4"></div>

    </div>
    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4 py-5 text-center my-5">
        <i class="text-light fa fa-clock-o fa-5x" aria-hidden="true"></i>
        <i class="text-light fa fa-ban fa-5x" aria-hidden="true"></i>
        <hr>
        <p class="lead text-light">
            All discussions start with a 90 minute timer and are open to replies by the community. When the discussion's timer reaches 0 it is closed for commenting. Discussions can be
            extended by upticking, and buried by downticking - this is also true for any replies.
        </p>
        </div>
        <div class="col-xl-4"></div>

    </div>

    <div class="row">
        <div class="col-xl-4"></div>
        <div class="col-xl-4 py-5 text-center my-5">
        <i class="text-light fa fa-sort-alpha-asc fa-5x" aria-hidden="true"></i>
        <hr>
        <p class="lead text-light">
            We encourage discussions on any topic you may want to write about. While some topics will be of a controversial or sensitive nature, users are expected to remain
                respectful at all times.  Personal attacks, excessively vulgar,
                uncivil, or hateful posts are not allowed. Topics can only be created by highly reputable users, therefore our community will
            organically select  topics that they find interesting or worthy of discussion.
        </p>
        </div>
        <div class="col-xl-4"></div>

    </div>


</div>

<div class="container-fluid">

    <div class="jumbotron jumbotron-fluid bg-light" id="contributers">
                <!-- Three columns of text below the carousel -->
            <h1 class="text-center text-success font-weight-strong">Contributers</h2>
            <div class="row text-center py-5 px-5">
                    <div class="col-xl-3 text-muted">
                        <img class="rounded-circle my-4" src="https://avatars1.githubusercontent.com/u/5375645?s=460&v=4" alt="Daniel Orlovsky" width="140" height="140">
                        <h2 class="font-weight-light">Daniel Orlovsky</h2>
                        <p>The Backend Guru</p>
                        <p>
                            <!--<a class="btn btn-secondary" href="#" role="button">Review Discussion &raquo;</a>-->
                        </p>
                    </div>
                    <!-- /.col-lg-3 -->
                    <div class="col-xl-3 text-muted">
                        <img class="rounded-circle my-4" src="https://avatars0.githubusercontent.com/u/5986057?s=460&v=4" alt="Renato Zamudio" width="140" height="140">
                        <h2 class="font-weight-light">Renato Zamudio</h2>
                        <p>The Front End Master</p>
                        <p>
                            <!--a class="btn btn-secondary" href="#" role="button">Review Discussion &raquo;</a>-->
                        </p>
                    </div>
                    <!-- /.col-lg-3 -->
                    <div class="col-xl-3 text-muted">
                        <img class="rounded-circle my-4" src="https://avatars0.githubusercontent.com/u/29241179?s=460&v=4" alt="Michelle Jummy" width="140" height="140">
                        <h2 class="font-weight-light">Michelle Jimmy</h2>
                        <p>The Front End Wonderkid</p>
                        <p>
                            <!--<a class="btn btn-secondary" href="#" role="button">Review Discussion &raquo;</a>-->
                        </p>
                    </div>
                    <!-- /.col-lg-3 -->
                    <div class="col-xl-3 text-muted">
                        <img class="rounded-circle my-4" src="assets/images/cd.jpg" alt="Derek Gambill" width="140" height="140">
                        <h2 class="font-weight-light">Derek Gambill</h2>
                        <p>The Backend Genius </p>
                        <p>
                            <!--<a class="btn btn-secondary" href="#" role="button">Review Discussion &raquo;</a>-->
                        </p>
                    </div>
            </div>
    </div>
</div>
        
<div class="container-fluid">

    <div class="jumbotron jumbotron-fluid bg-white">

        <h1 class="text-center font-weight-strong">Technologies Used</h1>
        <br>
            <div class="row text-center py-5 px-5">
            <!-- /.col-lg-2 -->
                <div class="col-sm-3 col-lg-2">
                        <img class="img-fluid my-4" src="assets/images/bootstrap.png" alt="Bootstrap" width="160" height="160">
                </div>

            <!-- /.col-lg-2 -->
                <div class="col-sm-3  col-lg-2">
                        <img class="img-fluid my-4" src="assets/images/express.png" alt="Express" width="160" height="160">
                    
                </div>

            <!-- /.col-lg-2 -->
                <div class="col-sm-3  col-lg-2">
                        <img class="img-fluid my-4" src="assets/images/node.png" alt="Node" width="160" height="160">
                    
                </div>

            <!-- /.col-lg-2 -->
                <div class="col-sm-3  col-lg-2">
                        <img class="img-fluid my-4" src="assets/images/passport.png" alt="Passport" width="160" height="160">
                </div>

                <!-- /.col-lg-2 -->
                <div class="col-sm-3  col-lg-2">
                        <img class="img-fluid my-4" src="assets/images/sequelize.png" alt="Sequelize" width="160" height="160">
                </div>

                <div class="col-sm-3  col-lg-2">
                        <img class="img-fluid my-4" src="assets/images/handlebars-js.png" alt="Handlebars" width="160" height="160">
                </div>
            </div>
    </div>   
</div>