<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators"></ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <img class="rounded-circle" src="assets/images/cd.jpg" alt="Generic placeholder image" width="140" height="140">
                        <h1>Welcome to CiviDisc!</h1>
                        <p>An online forum that encourages engaging discussion on a variety of topics in a self moderating environment. <!--Simply put, there is 90 minutes to discuss a topic and upvoting comments will allow for more time to be added to the current discussion. 
                            Once discussions have concluded, user are encouraged to review topics by commenting, posting, and starting new discussions.-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">


        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <h1 class="contributers">Contributers</h2>
            <div class="row">
                <div class="col-lg-3">
                    <img class="rounded-circle" src="assets/images/cd.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Daniel Orlovsky</h2>
                    <p>The Backend Guru</p>
                    <p>
                        <!--<a class="btn btn-secondary" href="#" role="button">Review Discussion &raquo;</a>-->
                    </p>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3">
                    <img class="rounded-circle" src="assets/images/cd.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Renato Zamudio</h2>
                    <p>The Front End Master</p>
                    <p>
                        <!--a class="btn btn-secondary" href="#" role="button">Review Discussion &raquo;</a>-->
                    </p>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3">
                    <img class="rounded-circle" src="assets/images/cd.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Michelle Jimmy</h2>
                    <p>The Front End Wonderkid</p>
                    <p>
                        <!--<a class="btn btn-secondary" href="#" role="button">Review Discussion &raquo;</a>-->
                    </p>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3">
                    <img class="rounded-circle" src="assets/images/cd.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Derek Gambill</h2>
                    <p>The Backend Genius </p>
                    <p>
                        <!--<a class="btn btn-secondary" href="#" role="button">Review Discussion &raquo;</a>-->
                    </p>
                </div>
            </div>
        
                 <div class="jumbotron jumbotron-fluid">
                    <div class="container">

                    <h1 class="display-3">Technologies Used</h1>
                    <div class="row">
                    <!-- /.col-lg-2 -->
                    <div class="col-lg-2">
                        <p>
                            <img class="img1" src="assets/images/bootstrap.png" alt="Bootstrap" width="160" height="160">
                        </p>
                        
                    </div>
                    <!-- /.col-lg-2 -->
                    <div class="col-lg-2">
                        <p>
                            <img class="img1" src="assets/images/express.png" alt="Express" width="160" height="160">
                        </p>
                       
                    </div>
                    <!-- /.col-lg-2 -->
                    <div class="col-lg-2">
                        <p>
                            <img class="img1" src="assets/images/node.png" alt="Node" width="160" height="160">
                        </p>
                        
                    </div>
                    <!-- /.col-lg-2 -->
                    <div class="col-lg-2">
                        <p>
                            <img class="img1" src="assets/images/passport.png" alt="Passport" width="160" height="160">
                        </p>
                    </div>
                        <!-- /.col-lg-2 -->
                    <div class="col-lg-2">
                        <p>
                            <img class="img1" src="assets/images/sequelize.png" alt="Sequelize" width="160" height="160">
                        </p>
                    </div>
                    </div>
                    </div>
                    </div>
                    
                        
                
<footer class="bd-footer text-muted">
    <div class="ccontainer-fluid p-3 p-md-5">
        <ul class="bd-footer-links">
            <li>
                <a href="https://cividisc.com/About">About</a>
            </li>
            <li>
                <a href="https://cividisc.com/Dashboard">Dashboard</a>
            </li>
            <li>
                <a href="https://cividisc.com/Post">Post</a>
            </li>
            <li>
                <a href="https://cividisc.com/Topics">Topics</a>
            </li>
        </ul>
    </div>
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright:
            <a href="https://www.cividisc.com"> CiviDisc.com </a>
    
        </div>
</footer>