

<div class="container-fluid">

 <div class="row">
     <div class="col-lg border mx-5 px-5 py-4">
         <h4>Topics</h4>
         <hr>
        {{#each topics}}
            <h6>{{> topic }}<h6>
        {{/each}}
     </div>
        <div class="col-sm-12 col-lg-6 border px-4 py-4">
            {{#unless posts}}
                <h4>Nothing to show</h4>
            {{/unless}}
            {{#if posts}}
                <h4>Ongoing Discussions</h4>
                <hr>
                {{#each posts as |post|}}
                    {{#with ../this}}
                        {{> post post=post }}
                    {{/with}}
                {{/each}}
            {{/if}}

            <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                <span class="page-link">Previous</span>
                </li>
                <li class="page-item active">
                    <span class="page-link">
                    1
                    </span>
                    <span class="sr-only">(current)</span>
                </li>   
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link" href="#">Next</a>
                </li>
            </ul>
            </nav>
        </div>
        <div class="col-lg border mx-5 px-5 py-4">
            <h4>Disc Rules</h4>
            <hr>
        </div>
    </div>
</div>




