{{#if user}}
<div class="container">
    {{#if message}} 
        <h4 class="alert alert-danger">{{message}}</h4>
    {{/if}}

    <div class="col-md-8 login-page bg-light">
        <h2>Start a Discussion!</h2>
        <p class="lead">This thread will end in 90 minutes.</p>
        <form action="/posts/add" method="POST" id="add-item">
            <div class="form-group">
                <input type="text" class="form-control" name="title" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <select class="form-control" name="topicId" id="topicId">
                    <option value="-1" selected>Please select a topic</option>
                    {{#each topics }}
                        <option value="{{ id }}">{{ name }}</option>
                    {{/each}}
                </select>
            </div>
            {{#if canAddTopic }}
            <div class="form-group">
                <label for="newTopic">Or, add a new topic</label>
                <div class="row">
                    <div class="col-10">
                        <input type="text" id="topicName" class="form-control" />
                    </div>
                    <div class="col-2">
                        <button id="submit-topic" class="btn btn-outline-success">Submit</button>
                    </div>
                </div>                
            </div>
            {{/if}}
            <div class="form-group">
                <textarea class="form-control" id="body" name="comment" rows="4" placeholder="Comment"></textarea>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="url" id="url" placeholder="url">
            </div>
            <button  id="submit-now" class="btn btn-outline-success">Post</button>
            <script>
                $(document).ready(function() {
                    $("#submit-topic").on("click", function(e) {
                        e.preventDefault();
                        var selectList = $("#topicId");
                        var newTopicName = { name: $("#topicName").val() };
                        $.ajax({
                            url: '/topics/create',
                            data: newTopicName,
                            type: "POST",
                            success: function(data) {
                                selectList.append(`<option value=${ data.id }>${ data.name }</option>`);
                                selectList.val(data.id);
                            }
                        })
                    });
                })
            </script>
        </form>
    </div>
</div>
{{/if}}