{{#if user}}
<div class="container">

    <div class="col-md-8 login-page">
        <h2>Start a Discussion!</h2>
        <p class="lead">This thread will end in 90 minutes.</p>
        <form action="/api/posts/add" method="POST" id="add-item">
            <div class="form-group">
                <input type="text" class="form-control" name="title" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="body" name="comment" rows="4" placeholder="Comment"></textarea>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="url" id="url" placeholder="url">
            </div>
            <button type="submit" class="btn btn-outline-success">Post</button>
        </form>
    </div>
</div>
{{/if}}