

<h1 class="display-4 text-center">{{ user.displayName}}'s Dashboard</h2>

<div class="container text-center lead">


    <h2 class="lead">Name: {{user.firstName}} {{user.lastName}}</h2>
    <h2 class="lead">Reputation: {{user.rep}} </h2>

</div>
<br>
    <div class="container col-lg-6 border px-4 py-4 box-shadow" >
    {{#each posts as |post|}}
    {{> post post=post}}
    {{/each}}
    </div>

