#page-content {
    margin-top: 100px;
}

.login-page {
    float: none;
    margin: 0 auto;
    display: block;
    padding: 20px;
    background-color: #eeeeee;
    
}
#inputEmail, #inputPassword {
    max-width: 350px;
}

.discup {
    max-width: 30px;
    margin-bottom: 10px;
}

.discdown {
    max-width: 30px;
}

.post {
    margin-top: 10px;
}

.vote-count {
    margin-left: 10px;
    display: inline-block;
    font-weight: 700;
    text-align: center;
}

.alert {
    display: none;
}