#page-content {
    margin-top: 180px;
}

.login-page {
    float: none;
    margin: 0 auto;
    display: block;
    padding: 20px;
    background-color: #eeeeee;
    
}
#inputEmail, #inputPassword {
    max-width: 350px;
}

.discup {
    max-width: 30px;
    margin-bottom: 10px;
}

.discdown {
    max-width: 30px;
}

.post {
    margin-top: 10px;
}