html,
body {
    background-color: #fff;
    /*width: 100vw;*/
    overflow-x: hidden;
    height: 100%;
}
.body-content {
    min-height: 100%;
}
#page-content {
    margin-top: 100px;
    margin-bottom: 80px;
    min-height: 100%;
}

.login-page {
    float: none;
    margin: 0 auto;
    display: block;
    padding: 20px;
    background-color: #eeeeee;
    
}
.logo{
    font-size: 28px;
}
#inputEmail, #inputPassword {
    max-width: 350px;
}
img { 
    max-height: 300px;
    width: auto;
}
.discup {
    max-width: 30px;
    margin-bottom: 10px;
}

.discdown {
    max-width: 30px;
}

.post {
    margin-top: 10px;
}

.vote-count {
    /*margin-left: 2px;*/
    display: inline-block;
    font-weight: 700;
    text-align: center;
}

#notification-bar {
    margin-top: -25px;
    position: fixed;
    width: 100vw;
    z-index: 9999;
    opacity: 0;
}


#notify-bar {
    width: 100%;
    
}
.close {
    right: 200px;
}
#topic-container > ul {
    list-style: none;
    padding-left: 0;
    font-weight: 700;
}

#topic-container {
    /*padding: 10px;*/
    background-color: #fefefe  ;
    box-shadow: 0 0 5px black;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
}
.container-fluid {
    padding: 0;
}
.row {
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.reply {
    height: 32px;
    width: 100px;
    padding: 5px;
}

.reply-box {
    border-left: 1px solid #ddd;
    padding-left: 10px;
}

.btn {
    margin-top: 10px;
}



.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/*
.footer {
    position: relative;
    top: 140px;
    bottom: 0;
    width: 100%;
}*/
.footer {
    position: relative;
    background-color: #f5f5f5;
    box-sizing: border-box;
    width: 100%;
    margin-top: -150px;
    height: 150px;
    border-width: 2px;
    padding: 15px 15px 15px 15px;
    bottom: 0;
    overflow:hidden;
    clear: both;
}

.children {
    position: relative;
    margin-left: 30px;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}



.featurette-divider {
  margin: 5rem 0; 
}


.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.box-shadow {
    box-shadow: 0px 0 5px silver;
}

a { 
    color: #777;
}

.upload-box { 
    max-width: 450px;
    padding: 10px;
}
#img-upload {
    border: 1px solid gray;
}
img.user-image {
    max-height: 75px;
    max-width: 75px;
    border-radius: 50%;
}
a:hover { 
    color: rgb(0,200,81);
    text-decoration: none;
}

.countBall {
    background-color: red;
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
    font-weight: 800;
}

@media (min-width: 40em) {
  
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.page-footer blue center-on-small-only {
    background-color: blue;
}

#contributers { 
    height: 35rem;
}

#technologies { 
    height: 35rem;
}

.jumbotron {
   background-color: #777;
   min-width: 100%;
   height: 32rem;
   top: 0;
   left: 0;  
}

.display-3{
    text-align: center;

}
.img1{
    margin: 80px 10px 0 75px;
}
.bd-footer {
    text-align: center;
    font-size: 85%;
    background-color:#1f1f1f;
}

.text-muted{
    color:rgb(221, 221, 221);

}

.footer-copyright {
    background-color:#1f1f1f;

    width:auto;
}

#lead-about {
    height: 1000px;
    margin-top: -25px;
    margin-bottom: -30px;
}

#lead-text {
    padding-top: 350px;
}

#lead-info {
    height: 1500px;
}

.discdown:hover {
    color: red;
}
